/************************************************************/
.-rnm-root- {
    overflow: visible;
}
/************************************************************/
/*ul style*/
.-rnm-top-ul-, .-rnm-sub-ul- {
    list-style: none;
    box-sizing: border-box;
}
.-rnm-top-ul- {
    margin: 0;
    padding: 0;
}
.-rnm-nav- .-rnm-top-ul- {
    position: relative;
}
.-rnm-ham- .-rnm-top-ul- {
    position: static;
}
.-rnm-sub-ul- {
    padding-left: 0;
}
.-rnm-nav- .-rnm-sub-ul- {
    position: absolute;
}
.-rnm-ham- .-rnm-sub-ul- {
    position: relative;
}
.-rnm-close- > .-rnm-top-ul-, .-rnm-close- > .-rnm-sub-ul- {
    display: none;
}
/************************************************************/
/*open|close sign style*/
.-rnm-close- > div > .-rnm-open-sign-, .-rnm-open- > div > .-rnm-close-sign- {
    display: none;
}
/************************************************************/
/*li style*/
.-rnm-top-li-, .-rnm-sub-li- {
    caret-color: transparent;
}
.-rnm-ham- .-rnm-top-li-, .-rnm-ham- .-rnm-sub-li- {
    width: 100%;
}
.-rnm-top-li- > div, .-rnm-sub-li- > div {
    padding: 0 10px;
}
.-rnm-ham- .-rnm-top-li- > div, .-rnm-ham- .-rnm-sub-li- > div {
    text-align: center;
}
.-rnm-top-li- > div > img, .-rnm-sub-li- > div > img {
    vertical-align: middle;
}
.-rnm-top-li- > div {
    height: 100%;
}
.-rnm-nav- .-rnm-top-li- {
    display: inline-block;
}
.-rnm-ham- .-rnm-top-li- {
    display: block;
}
.-rnm-sub-li- {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
/************************************************************/
/*open|close sign style*/
.-rnm-close-sign-, .-rnm-open-sign- {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 10px;
}
.-rnm-nav- .-rnm-close-sign-, .-rnm-nav- .-rnm-open-sign- {
    float: right;
}
.-rnm-ham- .-rnm-close-sign-, .-rnm-ham- .-rnm-open-sign- {
    margin-left: 20px;
}

.-rnm-close- > .-rnm-open-sign-, .-rnm-open- > .-rnm-close-sign- {
    display: none;
}
/************************************************************/
/* common style */
.-rnm-disabled- {
    pointer-events: none;
}
.-rnm-divider- {
    box-sizing: border-box;
    pointer-events: none;
}
.-rnm-nav- .-rnm-top-li-.-rnm-divider- {
    margin: 0 5px;
}
.-rnm-ham- .-rnm-top-li-.-rnm-divider-, .-rnm-sub-li-.-rnm-divider- {
    margin: 5px 0;
}
/************************************************************/
/* hamburger icon style and animation */
.-rnm-ham-icon- {
    box-sizing: border-box;
    float: right;
}
.-rnm-nav- .-rnm-ham-icon- {
    display: none;
}
.-rnm-ham- .-rnm-ham-icon- {
    display: inline-block;
}
.-rnm-ham-icon-bar- {
    caret-color: transparent;
    height: calc(100%/7);
    width: 100%;
    margin-top: calc(100%/7);
    background-color: white;
}
.-rnm-ham-icon-1-, .-rnm-ham-icon-3- {
    transition: all 300ms ease-in-out;
}
.-rnm-open- .-rnm-ham-icon-1- {
    transform: translateY(220%) rotate(45deg);
}
.-rnm-open- .-rnm-ham-icon-2- {
    visibility: hidden;
}
.-rnm-open- .-rnm-ham-icon-3- {
    transform: translateY(-190%)  rotate(-45deg);
}
/************************************************************/
